.container-presentation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffff 0%, #3166f8 100%);
    background-size: contain;
    background-position: center;
}
.contPresentacion{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.presentationTitle{
    font-family: Koulen;
    font-size: 65px;
    padding-bottom: 15px;
    position: relative;
    border-left: 4px solid #000000;
    padding-left: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: -20px;

}
.presentationSubtitle{
    font-family: Koulen;
    letter-spacing: 1.5px;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    margin-left: 25px;
    margin-top: -20px;
}
.presentationButton{
    width: 40%;
    height: 50px;
    
    background-color: #e23800c4;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-family: Koulen;
    font-size: 20px;
    font-weight: 600;
    
    cursor: pointer;
}

.presentationButton:hover{
    background-color: #ffffff;
    border: #000000 solid 1.5px;
    color: #e23800c4;
    transition: 0.7s;
}
.contImg{
    height: 100%;
    width:40%;
    
}
.contImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


